<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shadow Hunt.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>078928251D3409B900B9B21B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0789283D1D3409BA00B9B21B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078928481D3409BA00B9B21B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
